/* src/components/FooterContentArea.css */

.footer-content-area {
  background-color: #f4f4f4;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* 메인 컨텐츠와 공지 텍스트 사이의 간격 */
}

/* 로고와 정보를 감싸는 컨테이너 */
.footer-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-logo img {
  height: 50px;
}

.footer-info {
  text-align: center;
}

/* '|' 기준으로 나눌 텍스트를 감싸는 부모 p 태그에 적용 */
.footer-split-text {
  width: 100%;
  text-align: center;
  font-size: 0.85rem;
  color: #666;
  line-height: 1.6;
}

.footer-info .footer-split-text {
  font-size: 1rem; /* agencyInfo 부분은 글자 크기를 조금 더 키웁니다. */
  color: #333;
}


.footer-centered-notice {
  margin-top: 0;
  padding: 0; /* p태그 기본 여백 제거 */
}

/* 데스크톱에서 ' | ' 구분자 추가 */
.split-item:not(:last-child)::after {
  content: " | ";
  white-space: pre;
}

@media (max-width: 768px) {
  .footer-logo img {
    height: 27px;
  }

  /* 모바일에서 각 항목을 블록 요소로 만들어 줄바꿈 처리 */
  .split-item {
    display: block;
  }

  /* 모바일에서 ' | ' 구분자 제거 */
  .split-item:not(:last-child)::after {
    content: none;
  }
}