/* src/components/FooterContentArea.css */

.footer-content-area {
  background-color: #f4f4f4;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; /* 메인 컨텐츠와 공지 텍스트 사이의 간격 */
}

/* 로고와 정보를 감싸는 컨테이너 */
.footer-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-logo img {
  height: 50px;
}

.footer-info {
  text-align: center;
}

.footer-centered-notice {
  width: 100%;
  text-align: center;
  font-size: 0.85rem;
  color: #666;
}

@media (max-width: 768px) {
  .footer-logo img {
    height: 27px;
  }
}